<section ng-controller="KiosksController" ng-init="find()">
  <div class="page-header">
    <h1>Kiosks</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="kiosk in kiosks" ui-sref="kiosks.view({kioskId: kiosk._id})" class="list-group-item">
      <small class="list-group-item-text">
        <span ng-bind="kiosk.externalKioskId"></span>
        <!-- <span ng-bind="kiosk.createdAt | date:'mediumDate'"></span> -->
      </small>
      <h4 class="list-group-item-heading" ng-bind="kiosk.displayName"></h4>
      <p class="list-group-item-text" ng-bind="kiosk.address"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="kiosks.$resolved && !kiosks.length">
    No kiosks yet, why don't you <a ui-sref="kiosks.create">create one</a>?
  </div>
</section>
